.gameController {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

.input {
  opacity: 0;
}



.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  padding: 30px;
}